﻿@page
@model LearnC.Pages.LearnAdmin.IndexModel

@{
    ViewData["Title"] = "หัวข้อเรื่อง";
}

<h2>หัวข้อเรื่อง</h2>

<p>
    <a asp-page="Create">เพิ่มข้อมูล</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
		เรื่อง
            </th>
            <th>
		คำอธิบาย
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Learn) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LearnID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LearnID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LearnID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
