﻿@page
@model LearnC.Pages.LearnCAdmin.CreateModel

@{
    ViewData["Title"] = "เนื้อหา";
}

<h2>เนื้อหา</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                หมวดเรื่อง
                <select asp-for="News.LearnID" class ="form-control" asp-items="ViewBag.LearnID"></select>
            </div>
            <div class="form-group">
                วันเ/เดือน/ปี ที่ลง
                <input asp-for="News.ReportDate" class="form-control" />
                <span asp-validation-for="News.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายละเอียด
                <textarea asp-for="News.NewsDetail" class="form-control" /></textarea>
                <span asp-validation-for="News.NewsDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
