﻿@page
@model LearnC.Pages.LearnCAdmin.DetailsModel

@{
    ViewData["Title"] = "เนื้อหา";
}

<h2>เนื้อหา</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            หมวดหมู่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.learn.ShortName)
        </dd>
        <dt>
            วัน/เดือน/ปี
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
            รายละเอียด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.News.NewsID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
