@page
@model LearnC.Pages.LearnCAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไขข้อมูล";
}

<h2>แก้ไขข้อมูล</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="News.NewsID" />
            <div class="form-group">
                หมวดหมู่
                <select asp-for="News.LearnID" class="form-control" asp-items="ViewBag.LearnID"></select>
                <span asp-validation-for="News.LearnID" class="text-danger"></span>
            </div>
            <div class="form-group">
                วัน/เดือน/ปี
                <input asp-for="News.ReportDate" class="form-control" />
                <span asp-validation-for="News.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายละเอียด
                <textarea asp-for="News.NewsDetail" class="form-control" /></textarea>
                <span asp-validation-for="News.NewsDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
