﻿@page
@model LearnC.Pages.LearnCAdmin.IndexModel

@{
    ViewData["Title"] = "หมวดหมู่";
}

<h2>หมวดหมู่</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              หมวดหมู่
            </th>
            <th>
                วัน/เดือน/ปี
            </th>
            <th>
              รายละเอียด
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.News) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.learn.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDetail)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
